set timeout=5
set default=0

insmod all_video
insmod gfxterm
insmod png

set gfxmode=1024x768
set gfxpayload=keep
terminal_output gfxterm

set theme=/boot/grub/themes/amberos/theme.txt

menuentry "AmberOS" {
   echo -n "Loading the kernel... "
   multiboot2 /boot/kernel.bin.gz
   echo "done!"

   echo -n "Loading the ramdisk... "
   module2 /boot/ramdisk.tar.gz ramdisk
   echo "done!"

   echo "Booting..."
   boot
}
